*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

#grid {
    width: 680px;
    height: 450px;
    margin: 18vh auto;
}

img {
    /* height: 150px; */
    /* width: 150px; */
    max-height: 150px;
    max-width: 150px;
    margin: 10px;
}
