:root {
    --clr-neutral-400: hsl(0, 0%, 65%);
    --clr-neutral-800: hsl(0, 0%, 18%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-400);
}
