@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --orange: #ff8000;
}

body {
    margin: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ddd;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
    max-width: 100%;
}

.btn {
    font-weight: 600;
    background-color: var(--orange);
    padding: 10px 15px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    border: 2px solid var(--orange);
}
